S@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
:root {
  --red:#FDBC3A;
  --black:#333;
  --white:#fff;
  --light-color:#666;
  --light-bg:#eee;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  /*text-transform: capitalize;*/
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

body {
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 5rem;
}

body {
  background: var(--white);
}

body.active {
  --black:#fff;
  --white:#111;
  --light-color:#aaa;
  --light-bg:#222;
}

section {
  padding: 3rem 9%;
}

.btnn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 50px;
  background: #DB251D;
  cursor: pointer;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1.7rem;

}

.btnn:hover {
  opacity: 0.7;
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 4rem;
  color: var(--black);
}

.heading span {
  color: var(--red);
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: var(--light-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 9%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.header .logo {
  margin-right: auto;
  color: var(--black);
  font-size: 2.5rem;
}

.header{
  background: var(--light-bg);
}

.header .navbar a {
  margin-right: 2rem;
  font-size: 1.7rem;
  color: var(--light-color);
}

.header .navbar a:hover {
  color: #DB251D;
}

.header #menu-btn,
.header #theme-btn {
  font-size: 2.5rem;
  margin-left: 2rem;
  cursor: pointer;
  color: var(--black);
}

.header #menu-btn:hover,
.header #theme-btn:hover {
  color: var(--red);
}

.header #menu-btn {
  display: none;
}

.header #theme-btn.fa-sun {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header .scroll-indicator {
  position: absolute;
  top: 99%;
  left: 0;
  height: 1rem;
  background: var(--red);
}


.home .box {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.home .box:nth-child(2) {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 4rem 0;
}

.home .box .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;

}

.home .box .image img {
  width: 100%;
  border-radius: 10px;
}

.home .box .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;

}

.home .box .content .well{
  font-family: "Poppins";
  font-size: 5rem;
  color: var(--black);
}

.home .box .content h3{
  font-size: 8rem;
  color: #FDBC3A;
  font-family: "MagicalSource";
}

.home .box .content h3 span{
  font-size: 8rem;
  color: #E76229;
  font-family: "MagicalSource";
}

.home .box .content p {
  font-size: 1.5rem;
  color: var(--light-color);
  padding: 1rem 0;
  line-height: 2;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .header #menu-btn {
    display: inline-block;
  }
  .header #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: var(--light-bg);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    display: block;
    margin: 2rem;
  }

}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/*# sourceMappingURL=style.css.map */

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .maps {
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 980px){
  .maps {
    width: 100%;
    height: 350px;
  }

}

@media screen and (max-width: 1200px){
   .maps {
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 600px){
   .maps {
    width: 100%;
    height: 350px;
  }
}
